node_modules
.next
.env
.env.local
*.zip
*.ps1
*.bat
*.md
vps_diag.txt
build_log.txt
status.txt
temp_v4.json
ANTIGRAVITY_BRAIN
.agent
.tmp
.vscode
INSTALAR_ZAPSCALE
directives
execution
zapscale-automation
